.toggle {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 96px;
  height: 48px;
  border-radius: 50px;
  transition: .2s;
}

.toggle i {
  width: 50%;
  line-height: 53px;
  text-align: center;
  font-size: 24px;
  z-index: 1;
}

.toggle .ball {
  position: absolute;
  width: 36px;
  height: 36px;
  margin: 7px;
  border-radius: 50%;
  transition: .3s ease-out;
}

.btnDark input {
  display: none;
}


.light {
  background: #fafafa;
}

.light .toggle {
  background: linear-gradient(145deg, #e1e1e1, #fff);
}

.light .toggle .bxs-sun {
  color: #fafafa;
}

.light .toggle .bx-moon {
  color: #151d2a;
}

.light .toggle .ball {
  background: #151d2a;
}


.dark {
  background: #151d2a;
}

.dark .toggle {
  background: #151d2a;
}

.dark .toggle .bx-sun {
  color: #fafafa;
}

.dark .toggle .bxs-moon {
  color: #151d2a;
}

.dark .toggle .ball {
  background: #fafafa;
  transform: translateX(48px);
}