.container-chart {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.chart {
  display: flex;
  align-items: center;
  width: 400px;
  height: 400px;
  padding: 2rem;
  border-radius: 1rem;
  background: var(--bg-chart);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

body.dark .chart {
  /* border: 1px solid #fff; */
  /* box-shadow: none; */
}

.chart-line {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 330px;
  border-radius: 1rem;
}


@media (max-width: 767px) {
  .container-chart {
    flex-direction: column;
    align-items: center;
  }

  .chart-line {
    height: 200px;
  }
}