.container-chart {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.control__chart {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

body.dark .control__chart {
  color: white;
}

.chart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 340px;
  padding: 2rem;
  border-radius: 1rem;
  background: var(--bg-chart);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.chart-line {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 330px;
  border-radius: 1rem;
}

@media (max-width: 767px) {
  .container-chart {
    flex-direction: column;
    align-items: center;
  }

  .chart-line {
    display: none;
    /* height: 200px;
    width: 380px; */
  }

  .doughnut-chart,
  .linechart {
    max-width: 360px;
  }

  .control__chart {
    padding-bottom: 10vh;
  }

  .control__chart:first-of-type {
    margin-top: 50px;
  }

}