#btn-mobile {
  display: none;
}

#topo {
  display: none;
}

@media (max-width: 700px) {

  body {
    overflow: auto;
    padding-top: 10px;
  }

  #topo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 90000;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: black;
    padding: 12px 15px;
  }

  #topo h2 {
    color: white;
  }

  #btn-mobile {
    display: flex;
    padding: .9rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;

    color: white;
    /* background-color: red; */
  }

  body.active #btn-mobile {
    color: white;
  }

  .first__item {
    margin-top: 70px;
  }


  #hamburger {
    border-top: 2px solid currentColor;
    width: 20px;
  }

  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background-color: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }

  body.active #hamburger {
    border-top-color: transparent;
  }

  body.active #hamburger::before {
    transform: rotate(135deg);
  }

  body.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .nav__brand {
    display: none;
  }

  .top__pc {
    display: none;
  }




}