@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --nav-width: 92px;
  --first-color: #0C5DF4;
  --bg-color: #fff4;
  --bg-side-bar: #331d4a;
  --bg-chart: #fff;
  --title: #000;
  --sub-color: #B6CEFC;
  --white-color: #FFF;
  --body-font: 'Poppins';
  --normal-font-size: 1rem;
  --small-font-size: .875rem;
  --z-fixed: 100;
  --bg-cards: linear-gradient(to bottom right, #773d94, #240047);
}

body.dark {
  --bg-cards: #331d4a;
  --bg-color: #12192C;
  --bg-chart: tranparent;
  --title: #fff;
  /* --bg-side-bar: #240047; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  overflow-x: hidden;
  font-family: 'Poppins';
  background-color: var(--bg-color);
}